.tab_area {
    background-color: #FAFAFA;
    padding: 40px 10px 0px 10px;
    overflow: hidden;
}

.tab_area .tabs .tab_item .tab_link {

    background: #FFFFFF;
    border-radius: 14px 14px 0px 0px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height, or 206% */

    letter-spacing: -0.022em;

    color: #495057;
    text-decoration: none;
    padding: 25px 85px;
}

.tab_area .tabs .tab_item .tav_active {
    background: #5CA96C !important;
    font-weight: 600;
    color: #fff;
}