.historical_tramping {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 18px;
}



.historical_tramping .timbrarue_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 183% */

    letter-spacing: -0.022em;

    color: #49505C;

}

.historical_tramping .export_area {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49505C;
    background: #F5F6F7;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    border: none;
}