.table_area {
    border-collapse: collapse;
}

 .table_main_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 183% */
    letter-spacing: -0.022em;
    color: #49505C;
    width: 160px;
}

 .table_head {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

 .table_head_val {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}


.table_body .td_head {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
    padding: 10px 0px;

}

.table_body {
    background: #FAFAFA;
    border: 23px solid #fafafa;
}


.table_body .td_data {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    background-color: #fff;
    border-top: 3px solid #FAFAFA;
    border-bottom: 3px solid #FAFAFA;

}

.table_body .by_location_box {

    width: 258px;
}

 .table_body .by_location {
    border: 0.5px solid #83C282;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #5CA96C;
    width: 100%;
}
.table_collapse_btn{
    border: none;
    outline: none;
    background: none;
}