.table_area{
    border-collapse: collapse;
}
.table_area .table_main_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 183% */
    letter-spacing: -0.022em;
    color: #49505C;
    width: 160px;
}

.table_area .table_head {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.table_area .table_head_val {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}


.table_area .table_body .td_head {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
    padding: 10px 0px;

}

.table_area .table_body {
    background: #FAFAFA;



}


.table_area .table_body .td_data {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    background-color: #fff;

}

.table_area .table_body .by_location_box {

    width: 258px;
}
.table_area .table_body .by_location {
    border: 0.5px solid #83C282;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #5CA96C;
    width: 100%;
}